# Python cache files
__pycache__/
*.py[cod]

# Virtual environments
venv/
ENV/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# IDEs/editors
.vscode/
.idea/

# Misc
*.log
.DS_Store

